.colorWrapper {
	height: 95vh;
	width: 95vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 10px auto;
	border-radius: 20px;
}
.colorContainer {
	border-radius: 20px;
}
.colorContainer h1 {
	filter: invert(1);
	-webkit-filter: invert(1);
}

.contentRandomColor {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 1rem;
	flex-direction: column;
	/* font-weight: ; */
	/* filter: invert(1);
	-webkit-filter: invert(1); */
}

.contentRandomColor h1 {
	font-size: 80px;
	font-weight: bold;
	filter: invert(1);
	-webkit-filter: invert(1);
}

.contentRandomColor h1 > span {
	text-transform: uppercase;
}
.colorSpan {
	font-size: 60px;
	font-weight: bold;
	filter: invert(1);
	-webkit-filter: invert(1);
	text-transform: uppercase;
}

.color-button {
	padding: 3px;
	border-radius: 5px;
	border: none;
	font-size: medium;
	border: 1px solid;
	/* mix-blend-mode: difference; */
	filter: invert(1);
	-webkit-filter: invert(1);
	font-weight: bolder;
	font-size: larger;
}

.color-button span {
	filter: invert(1);
	-webkit-filter: invert(1);
}
