:root {
	--background: antiquewhite;
	--text-primary: black;
	--button-bg: black;
	--button-text: antiquewhite;
}
[data-theme="dark"] {
	--background: black;
	--text-primary: antiquewhite;
	--button-bg: antiquewhite;
	--button-text: black;
}

.LDMMain {
	background-color: var(--background);
	color: var(--text-primary);
	height: 90vh;
	width: 90vw;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
	margin: 10px auto;
}

.LDMButton {
	padding: 3px;
	border: 1px solid var(--button-text);
	outline: none;
	border-radius: 3px;
	background-color: var(--button-bg);
	color: var(--button-text);
	cursor: pointer;
}
